.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation__movies {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}
.navigation__saved {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 16px;
}
.navigation__profile {
  width: 100px;
  height: 32px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: #313131;
  border-radius: 20px;
  text-align: center;
  padding-top: 8px;
  margin-top: 21px;
  box-sizing: border-box;
}
.navigation__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 44px;
}
.navigation__box {
  display: flex;
  padding-top: 28px;
}