.savedMovies {
  width: 1140px;
  margin: auto;
}
@media screen and (max-width: 1279px) {
  .savedMovies {
    width: 708px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .savedMovies {
    width: 300px;
    margin: auto;
  }
}
